<!DOCTYPE html>
<html lang="zh">

<head>
    <script type="text/javascript" src="src/js/page/auth.js"></script>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="pragma" Content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" Content="0">
    <meta name="keywords" content="轻易贷,轻易科技,qingyidai,投资理财,理财,投资,投资项目,个人理财产品,p2p金融,网上投资理财,企业贷款,互联网金融,项目投资">
    <meta name="description" content="轻易贷是轻易科技有限公司创建的一款互联网金融品牌，是目前拥有线下网点最多的兼具实体与网络为一体的投资理财P2P金融平台。轻易贷目前专业服务于汽车垂直领域，旨在以专业的服务通过平台向注册会员提供安全、公平、透明、高效的投资理财及融资贷款的新渠道。" />
    <title>轻易贷_个人中心|投资理财_安心理财、普惠天下的互联网金融平台</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="src/css/changestyle.css">
    <link rel="stylesheet" type="text/css" href="src/css/form.css">
    <link rel="stylesheet" type="text/css" href="/src/css/protocal.css" />
</head>

<body>
	<div class="top-ad">
	   <div class="width-wrap">
	       <div class="left-wrap cl">
	          <i class="speaker"></i>
	         <ul class="ad-list" id="notice_play">
	            <li><em class="fs19 sz14" id="notice_time"></em> <em class="fs1 sz14">[ 公告 ] </em><em class="sz14" id="notice_title"> </em>   <em class="fs16 sz12 ml" id="notice_context"></em></li>
	         </ul>
	         <ul class="ad-list-right">
	             <li class="many ml"><a href="http://www.stg-qyd.com/aboutus/notices.shtml" class="ml fs2">更多&nbsp;></a></li>
	         </ul>
	       </div>
	   </div>
	</div>
      <div id="top-header">
        <div class="width-wrap">
	        <div class="top-header-nav left-wrap">
	    	   <img src="src/img/icon1.png" border="0" class="mr" style=" vertical-align:-10%"><span class=""><a href="http://www.kaiyuan.net" target="_blank" class="fs25">开元金融</a> 旗下在线金融服务平台</span>
	 		</div>
            <div class="header-user right-wrap">
                <div class="user-nav signin">
                    <ul>
                        <li> 
                        	<img src="/src/img/24h.png" border="0" style=" vertical-align:-5%"> <em class="fs25">24小时服务热线：400-100-8899</em> 
                        </li>
                        <li>
                            <a href="/usermanagement/messages.shtml"><i class="icon-sp1 sp1-msg-light"></i><em class="ml5 fs">消息</em><em class="msg-count1">0</em></a>
                        </li>
                        <li class="userinfo">
                            <a href="/usermanagement/account.shtml"><i class="icon-sp1 sp1-user-normal"> </i><em class="fs1 menu-user"></em>
                            </a>
                            <div class="ui-poptip-content">
                                <ul class="menu">
                                    <li class="special">
                                        <a href="#logout" id="logout"><i class="icon-sp1 sp1-logout-normal"></i><em class="fs14 pl">退出</em></a>
                                    </li>
                                    <li class="special">
                                        <a class="icon-nl" href="/usermanagement/account.shtml"><i class="icon-sp1 sp1-ucenter-normal"></i><em class="pl">我的账户</em></a>
                                    </li>
                                    <li class="special">
                                        <a class="icon-nl" href="/fundmanagement/depositfunds.shtml"><i class="icon-sp1 sp1-recharge-normal"></i><em class="pl">充值</em></a>
                                    </li>
                                    <li class="special">
                                        <a class="icon-nl" href="/fundmanagement/transactions.shtml"><i class="icon-sp1 sp1-touzi-normal"></i><em class="pl">理财记录</em></a>
                                    </li>
                                    <li class="special">
                                        <a class="icon-nl" href="/relationmanagement/invite.shtml"><i class="icon-sp1 sp1-asets-normal"></i><em class="pl">邀请</em></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="user-nav signout">
                    <ul>
                     	<li> 
                        	<img src="/src/img/24h.png" border="0" style=" vertical-align:-5%"> <em class="fs25">24小时服务热线：400-100-8899</em> 
                        </li>
                        <li>
                            <a href="/member/login.shtml"><i class=" common-icon login"></i><em class="fs2">登录</em></a>
                        </li>
                        <li style="padding-right:0px; background:none">
                            <a href="/register.shtml"><i class="common-icon reg"> </i><em class="fs1">注册</em></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="header">
        <div class="width-wrap cl">
            <h2 class="left-wrap logo mt">
                <a href="/">
                    <img src="src/img/logo.png" alt="轻易贷" title="轻易贷"/>
                </a>
            </h2>
            <div class="right-wrap nav-wrap">
                <ul>
                    <li><a href="/index.html">首页</a> <em>|</em>
                    </li>
                    <li><a href="/investmanagement/invest.shtml">我要理财</a> <em>|</em>
                    </li>
                    <li><a href="http://www.stg-qyd.com/loanmanagement/requestloan.shtml">我要借款</a> <em>|</em>
                    </li>
                    <li><a href="http://www.stg-qyd.com/security/index.shtml">安全保障</a> <em>|</em>
                    </li>
                    <li><a href="http://www.stg-qyd.com/guides.html">新手指引</a> <em>|</em>
                    </li>
                    <li><a href="http://www.stg-qyd.com/aboutus/index.shtml">关于我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt cl">
    <!--左侧导航开始-->
        <div class="left-nav left-wrap"></div>
    <!--左侧导结束-->
    <!--右侧内容开始-->
        <div class="account-wrap right-wrap">
            <div class="av-img left-wrap">
                <img src="/src/img/avatar.jpg" border="0">
            </div>
            <div class="left-wrap wrap-data" style="border-left:none;border-right:none;">
                <p class="sz16 align-left fs0" id="user_time_tip"></p>
                <ul id="user-operate" style="display:none;" class="user-operate">
                    <li><a title="手机号码已验证" class="already"><i class="icon-sp2 sp2-mobile-bg"></i></a></li>
                    <li><a title="手机号码已验证" class="already"><i class="icon-sp2 sp2-mobile-bg"></i></a></li>
                    <li><a title="手机号码已验证" class="already"><i class="icon-sp2 sp2-mobile-bg"></i></a></li>
                    <li><a href="/usermanagement/profile.shtml" id="ignoreidcart"><i class="icon-sp2 sp2-idcard-gray"></i></a></li>
                    <li><a title="密码已设置" class="already"><i class="icon-sp2 sp2-lock-gray-bg"></i></a></li>
                    <li><a href="/usermanagement/profile.shtml" id="ignoreemail"><i class="icon-sp2 sp2-email-gray"></i></a></li>
                    <li><a class="pro cl"><img src="/src/img/low2.png" border="0" class="ml" id="lowimg"><em class="fs3 sz16 ml">中</em></a></li>
                    <li class="releasenow"><a href="/usermanagement/profile.shtml" class="last">立即提升》</a></li>
                    <a id="storebtn" style="font-weight:normal !important; display:none;" class="last button5 button-h40 sz16" href="#">申请个人加盟店</a>
                </ul>
            </div>
        </div>
        <div class="code-number right-wrap del-bt"  id="code-number" style="display: none;">
                <p>
                <em class="sz16 fs20">邀请码：</em>
                <input type="text" value="" class=" input-text " id="inputcodef" style="width:230px;border-color:#999 #D0D0D0 #D0D0D0 #999; ">
                <input type="button" class="button-h37 button-width44 button5 sz14 ml mr" value="确定" id="reshure" style="border: none;"/>
                <i class="tishi-icon ml25"></i>
                <em class="sz14 fs20">只能输入一次，确认后将不可更改</em>
                </p>
                <p class="note" style="margin-left: 124px;">
                </p>
        </div>
        
        <div class="investment right-wrap">
            <h3><i class="basic-ico save"></i>理财账户</h3>
            <div class="user-account cl">
                <div class="myaccountinfo"></div>
                <div class="account-recharge right-wrap"> <a href="/fundmanagement/depositfunds.shtml">充值</a></div>
            </div>
        </div>
        <div class="borrow right-wrap">
            <h3><i class="basic-ico repayment-icon"></i>借款账户</h3>
            <div class="user-account cl">
                <div class="myaccountinfo"></div>
                <div class="account-recharge right-wrap"> <a href="/loanmanagement/requestloan.shtml">借款</a></div>
            </div>
        </div>
    <!--右侧内容结束-->
    </div>

    <div id="autoigdiv" class="layer">
        <h3 style="position:relative;">
            <img src="/src/img/changeimg/shangxian.png" alt="">
            <div style="position:absolute;  right: 35px;
    top: 67px;"><a id="autoigdivclose" href="#"><img alt="" src="/src/img/changeimg/close.png"></a></div>
        </h3>
        <div class="layer-text">
            <p class="sz16 bold align-center">自动理财，您的理财小助手</p>
            <p class="sz14">自动理财服务开启后，系统根据您设定的条件，智能自动帮您购买高收益理财产品。</p>
            <p class="sz14 fs20 bold">通过自动理财服务：</p>
            <p class="sz14 fs20">① 实时监测可理财项目，不浪费一分钟理财时间，省时；</p>
            <p class="sz14 fs20">② 自动为您选择收益率最高的理财产品，摆脱反复操作，省力；</p>
            <p class="sz14 fs20">③ 时刻把握收益状况，实时通知资金进出，省心。</p>
            <a id="toauto" href="#" style="width:121px;height:58px;display:block;margin-left:150px;" target="_blank"  onfocus="blur(this);">
            <img src="/src/img/changeimg/layer-button.png" alt=""></a>
        </div>
    </div>
  	<!-- 个人加盟店协议框begin -->
  	<div class="main">
    	<div class="pop-title1">
      		<span class="right-wrap"><a title="关闭" href="#" id="closeFranchiseStoreImg" class="pop-close"></a></span>
      		<h2>轻易贷委托理财协议</h2>
    	</div>
    	<iframe class="service" name="protocal"></iframe>
    	<div class="colse"><a href="javascript:void(0);" id="closeFranchiseStoreBtn">已阅读并同意此协议</a></div>
  	</div>
	<!-- 个人加盟店协议框end -->
    <div id="footer"></div>
    <script type="text/html" id="accountTemplate">
        您好，<%=userName%>，<%=tipwords%>
    </script>
    <script type="text/html" id="EPTemplate">
        <p class="sz14 align-left fs0">账户：<em><%= name %></em></p>
        <p class="sz14 align-left fs0">企业名称：<em><%= companyName %></em></p>
    </script>
    <script type="text/html" id="myaccountinvest">
        <dl style="border-left:none;">
            <dt>已完成理财金额：</dt>
            <dd><em class="mr fs4 sz20"><%=totalExpense%></em><em class="sz16">元</em></dd>
            <dd><span class="sz14">（获得收益：<em class="fs14"><%=totalBenefit%></em> 元）</span></dd>
        </dl>
        <dl>
            <dt>理财中金额：</dt>
            <dd><em class="mr fs4 sz20"><%=totalLendingAmount%></em><em class="sz16">元</em></dd>
            <dd><span class="sz14">（待收收益：<em class="fs14"><%=totalLendingInterest%></em> 元）</span></dd>
        </dl>
        <dl>
            <dt>可用余额：</dt>
            <dd><em class="mr fs1 sz20" id="availableAmount"></em><em class="sz16">元</em></dd>
            <dd><span class="sz14">（可用代金券：<em class="fs14"><%=availableRewardsAmount%></em> 元）</span></dd>
        </dl>
    </script>
    <script type="text/html" id="myaccountborrow">
        <dl style="border-left:none;">
            <dt>已还本金：</dt>
            <dd><em class="mr fs4 sz20"><%=totalBorrowed%></em><em class="sz16">元</em></dd>
            <dd><span class="sz14">（已还利息：<em class="fs14"><%=totalBorrowedInterest%></em> 元）</span></dd>
        </dl>
        <dl class="breakcontract">
            <dt>未还借款：</dt>
            <dd><em class="mr fs4 sz20"><%=totalBorrowwingAmount%></em><em class="sz16">元</em></dd>
            <dd><span class="sz14">（待还利息：<em class="fs14"><%=totalBorrowwingInterest%></em> 元）</span></dd>
        </dl>
        <dl>
            <dt>可用额度：</dt>
            <dd><em class="mr fs4 sz20"><%=availableCreditAmount%></em><em class="sz16">元</em></dd>
            <dd><span class="sz14">（授信额度：<em class="fs14"><%=creditAmount%></em> 元）</span></dd>
        </dl>
    </script>
    <script type="text/javascript" src="src/js/lib/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="src/js/lib/template/template-native.js"></script>
    <script type="text/javascript" src="src/js/page/public.js"></script>
    <script type="text/javascript" src="src/js/page/easybalt.js"></script>
    <script type="text/javascript" src="/src/js/page/realpublic.js"></script>
    <!-- 统计 -->
    <div style="display:none;">
        <script>
		var _hmt = _hmt || [];
		(function()
		{ var hm = document.createElement("script"); hm.src = "//hm.baidu.com/hm.js?d2391fb6e67157c7627dfe2e6a6628a6"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); }
		)();
		</script>
    </div>
</body>

</html>
