.register-ico {
    background: url(../img/progress.png) no-repeat 0 0;
    display: inline-block;
}
.register-box {
    padding: 60px 50px 0 50px;
}
.register-box table {
    text-align: center;
}
.register-box th {
    width: 70px;
}
.register-box th i {
    width: 70px;
    height: 15px;
}
.register-box td i {
    width: 89px;
    height: 83px;
}
.register-box td i em {
    color: #336699;
    font-size: 16px;
    position: relative;
    top: 98px;
    display: inline-block;
    width: 89px;
}
.register-box th i.z1 {
    background-position: 6px -187px;
}
.register-box th i.z2 {
    background-position: -81px -187px;
}
.register-box th i.z3 {
    background-position: -155px -187px;
}
.register-box td i.pro1 {
    background-position: 0 0
}
.register-box td i.pro2 {
    background-position: -104px 0
}
.register-box td i.pro3 {
    background-position: -214px 0
}
.register-box td i.pro4 {
    background-position: -104px -90px
}
.register-box td i.pro5 {
    background-position: -214px -90px
}
.register-box td i.pro-null em {
    color: #999999
}
.content-box3 {
    background: none repeat scroll 0 0 #fff;
    margin-bottom: 10px;
}
.content-table {
    padding: 40px 60px;
}
.tips-wrap {
    text-align: center;
    padding: 80px 0 150px 0
}
.tips-wrap h3 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 50px
}
.tips-wrap h3 i {
    vertical-align: text-top;
    margin-right: 10px
}
.tips-wrap p {
    font-size: 14px;
    color: #666
}
